:root {
    --purple: #c384ecb9;
    --padding1: 25px;
    --white: #FFF;
    --darkpurple: purple; 
    --border1: 15px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
 }

 html {
     scroll-behavior: smooth;
 }
 
 body {
     background-color: lavenderblush;
     font-family: Helvetica;
 }

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.TopButton {
    display: flex; 
    justify-content: center;
    position: sticky;
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 20px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: 3px solid lavender; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: rgb(160, 121, 197);
    color: var(--white); 
    padding: 10px; /* Some padding */
    border-radius: var(--border1); /* Rounded corners */
    font-size: 15px; 
  }
  
.TopButton:hover {
    background-color: var(--darkpurple); /* Add a dark-grey background on hover */
  }