:root {
    --purple: #c384ecb9;
    --padding1: 25px;
    --white: #FFF;
    --darkpurple: purple; 
    --border1: 15px;
    --font-size1: 20px;
    --overallback: lavenderblush;
    --mainback: lavender; 
}

* {
    padding: 0;
    box-sizing: border-box;
 }

 html {
     scroll-behavior: smooth;
 }
 
 body {
     background-color: var(--overallback);
     font-family: Helvetica;
 }

 .namelogo {
    flex: 1 0 auto;
    color: var(--purple);
}

.intro {
    font-size: 20px;
}

/* .zoom for work-image portfolio - hover enlarged image function! */

.zoom {
    border-radius: var(--border1); 
    transition: transform 1.5s;
  }


  .zoom:hover {
    z-index: 99;
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.5); 
  }


.submitbutton {
    display: flex;
    position: sticky;
    z-index: 99;
    border: 2px solid rgb(160, 121, 197);
    border-radius: var(--border1);
    background-color: rgb(160, 121, 197);
    padding: 5px;
    color: var(--white);
    font-size: 15px;
}

.submitbutton:hover {
    background-color: var(--darkpurple);
}

.TopButton {
    display: flex; 
    justify-content: center;
    position: sticky;
    z-index: 99; 
    border: 2px solid rgb(160, 121, 197);
    background-color: rgb(160, 121, 197);
    color: var(--white); 
    padding: 10px; /* Some padding */
    border-radius: var(--border1); /* Rounded corners */
    font-size: 15px; 
  }
  
.TopButton:hover {
    background-color: var(--darkpurple); 
  }