:root {
    --purple: #c384ecb9;
    --padding1: 25px;
    --white: #FFF;
    --darkpurple: purple; 
    --border1: 15px;
    --font-size1: 20px;
    --overallback: lavenderblush;
    --mainback: lavender; 
}

* {
    padding: 0;
    box-sizing: border-box;
 }

 html {
     scroll-behavior: smooth;
 }
 
 body {
     background-color: var(--overallback);
     font-family: Helvetica;
 }

 .namelogo {
    flex: 1 0 auto;
    color: var(--purple);
}

/* for grid container images */

.taco-shop {
    background-image: url("../images/top3tacoshop.png");
}

.password {
    background-image: url("../images/passwordgenerator.png");
}

.mybrary {
    background-image: url("../images/mybraryscreenshot.png");
}

.codequiz {
    background-image: url("../images/webapicodequiz.png");
}

.vacationweather {
    background-image: url("../images/vacationweatherdashboard.png");
}

.gititdone {
    background-image: url("../images/gititdone.png");
}

.TopButton {
    display: flex; 
    justify-content: center;
    position: sticky;
    z-index: 99; 
    border: 2px solid rgb(160, 121, 197);
    background-color: rgb(160, 121, 197);
    color: var(--white); 
    padding: 10px; /* Some padding */
    border-radius: var(--border1); /* Rounded corners */
    font-size: 15px; 
  }
  
.TopButton:hover {
    background-color: var(--darkpurple); 
  }