header {
    padding: var(--padding1);
    background-color: lavender;
    display: flex;
    justify-content: space-between;
    flex-flow: row nowrap;
    align-items: center;
}

.namelogo {
    flex: 1 0 auto;
    font-weight: 10;
    color: var(--purple);
}

header a {
    text-decoration: none;
    color: var(--purple);
}

header nav ul li {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: auto;
}

header nav ul li a:hover {
    color: var(--white);
    text-shadow: none;
}

header nav ul li a:active {
    color: var(--darkpurple);
}

.about-me {
    background-color: var(--purple);
    border: 3px solid darkorchid;
    border-radius: var(--border1);
    color: var(--white);
    display: flex;
    flex-flow: wrap;
    justify-content: flex-end;
}

.Info img {
  display: flex;
  margin-left: 15px;
  border-radius: var(--border1);
}

.Info p {
    text-align: right;
    font-size: 20px;
    line-height: 1.5;
    padding: var(--padding1);
}

.work-showcase {
    background-color: rgb(255, 214, 221);
    border: 3px solid rgb(255, 146, 191);
    border-radius: var(--border1);
    color: var(--white);
    display: flex;
    flex-flow: wrap;
    justify-content: flex-start;
    padding: 20px;
}

.Siteinfo img {
    border-radius: var(--border1);
    width: 45%;
}

footer {
    padding: var(--padding1);
    background-color: lavender;
    color: var(--purple);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    font-size: 20px;
}

@media screen and (max-width: 768px) {
    header {
        padding-bottom: 0;
    }
}

@media screen and (max-width: 575px) {

}