header {
    padding: var(--padding1);
    background-color: lavender;
    color: var(--purple);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

header a {
    text-decoration: none;
    color: var(--purple);
}

header nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

header nav ul li a:hover {
    color: var(--white);
    text-shadow: none;
}

header nav ul li a:active {
    color: var(--darkpurple);
}

.Aboutme {
    background-color: var(--purple);
    border: 3px solid darkorchid;
    border-radius: var(--border1);
    color: var(--white);
    display: flex;
    flex-flow: wrap;
    justify-content: flex-end;
}

.About-Intro h2 {
    align-content: flex-end;
}


.About-Info img {
  display: flex;
  margin-left: 15px;
  border-radius: var(--border1);
}


.About-Info {
    text-align: right;
    font-size: 18px;
    line-height: 1.5;
    padding: 15px;
    margin-bottom: 10px;
}

footer {
    padding: var(--padding1);
    background-color: lavender;
    color: var(--purple);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

@media screen and (max-width: 768px) {
    header {
        padding-bottom: 0;
    }
}

@media screen and (max-width: 575px) {

}