header {
    padding: var(--padding1);
    background-color: var(--mainback);
    display: flex;
    justify-content: space-between;
    flex-flow: row nowrap;
    align-items: center;
    border: 3px solid rgb(222, 208, 255);
    border-radius: var(--border1);
}

header a {
    text-decoration: none;
    color: var(--purple);
}

header nav ul li {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: auto;
    font-size: var(--font-size1);
}

header nav ul li a:hover {
    color: var(--white);
    text-shadow: none;
}

header nav ul li a:active {
    color: var(--darkpurple);
}

.about-me {
    background-color: var(--purple);
    border: 3px solid darkorchid;
    border-radius: var(--border1);
    color: var(--white);
    display: flex;
    flex-flow: wrap;
    justify-content: space-around;
    font-size: var(--font-size1);
}

a.utlink {
    text-decoration: none;
    color: var(--white);
}

a.utlink:hover {
    color: var(--darkpurple);
    text-shadow: none;
}

a.utlink:active {
    color: var(--purple);
}

.Basicinfo {
    height: auto;
    padding: 50px;
}

.row {
    display: flex;
    flex-wrap: wrap;
  }

.Basicinfo p {
    flex: 1 1 200px;
    height: 100px;
    line-height: 2.5;
    padding: 50px;
}

.Basicinfo img {
    border-radius: var(--border1);
    width: 30%;
}

.work-showcase {
    background-color: rgb(255, 214, 221);
    border: 3px solid rgb(255, 146, 191);
    border-radius: var(--border1);
    color: var(--white);
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    padding: var(--padding1);
    font-size: var(--font-size1);
}

.siteinfo {
    height: auto;
    padding: 50px;
}

.row2 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    align-items: flex-end;
    position: relative;
}

.row2 img {
    display: block;
    border-radius: var(--border1);
    width: 35%;
}

.row2 p {
    display: block;
    margin-left: 10px;
}


a.run-buddy, a.horiseon {
    text-decoration: none;
    color: var(--white);
}

a.run-buddy:hover, a.horiseon:hover {
    color:rgb(255, 113, 172);
    text-shadow: none;
}

a.run-buddy:active, a.horiseon:active {
    color:rgb(255, 214, 221);
}

.contact-info {
    background-color: rgb(209, 236, 255); 
    border: 3px solid rgb(93, 204, 255);
    border-radius: var(--border1);
    color: var(--white);
    display: flex;
    flex-flow: wrap;
    justify-content: space-around;
    font-size: var(--font-size1);
}

.links nav ul li {
    list-style: none;
    display: flex;
    margin: auto;
}

.links a {
    color: var(--purple);
    text-decoration: none;
}

label {
    color: var(--purple);
}

.links nav ul li a:hover {
    color: var(--white);
}

.links nav ul li a:hover {
    color: var(--darkpurple);
}

.contact-form {
    display: flex;
    flex-direction: column;
}

input#contact-name, #contact-email, textarea#contact-message {
    background-color: var(--mainback);
    border: 3px solid rgb(222, 208, 255);
    border-radius: var(--border1);
    font-family: Helvetica;
}


footer {
    padding: var(--padding1);
    background-color: var(--mainback);
    color: var(--purple);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    font-size: var(--font-size1);
    border: 3px solid rgb(222, 208, 255);
    border-radius: var(--border1);
}



@media screen and (max-width: 768px) {
    header {
        padding-bottom: 0;
    }
}

@media screen and (max-width: 575px) {
 /* adjust p size for about section*/
}